<p style="color: green"><%= notice %></p>
<h1>Monuments</h1>
<div>
  <% @monuments.each do |monument| %>
    <p><strong>Name:</strong> <%= monument.name%></p>
    <p><strong>Address:</strong><%= monument.address%></p>
    <p>
      <%= link_to "Show this monument", monument %>
    </p>
  <% end %>
</div>
<div data-controller="toggle" class="mt-3">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">
    Add a new monument
  </button>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "form", monument: @monument %>
  </div>
</div>
